<div class="row">
    {{#if notes.length}}
        <div class="card-columns">
            {{#each notes}}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-between align-items-center">
                            {{title}}
                            <a href="/notes/edit/{{_id}}" class=""><i class="fa fa-edit"></i></a>
                        </h5>
                        <p>{{description}}</p>
                        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger btn-block .btn-sm" type="submit">Borrar</button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">Hola {{user.name}}, todavía no hay notas.</p>
                <a href="/notes/add" class="btn btn-success btn-block">Crea una</a>
            </div>
        </div>
    {{/if}}
</div>